@import '@nexora/design-tokens';

* {
  box-sizing: border-box;
}

html {
  font-family: var(--nx-font-family-sans);
  background: var(--nx-color-background);
  color: var(--nx-color-text-primary);
}

body {
  margin: 0;
  background: var(--nx-color-background);
  color: var(--nx-color-text-primary);
}

button, input, select, textarea {
  font: inherit;
}
